**Formatos de trabajo:** 
* CSV - Es muy versatil ya que solo tiene comas y saltos de linea
* JSON - Tiene un formato muy similar al de un diccionario de Python
* Excel - Permite guardar el archivo en formato .xls para trabajar con el en Excel o Spreadsheets
* Pickle - Permite comprimir la información, es util cuando se tienen tablas grandes
* Parquet - Permite darle un formato que puede usarse en ambientes de Big Data como Hadoop

In [ ]:
#!pip  install --upgrade pandas

Requirement already satisfied: pandas in /root/.local/lib/python3.7/site-packages (1.3.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2018.9)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.19.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [ ]:
#!pip install openpyxl==3.5.1

ERROR: Could not find a version that satisfies the requirement openpyxl==3.5.1 (from versions: 1.1.0, 1.1.4, 1.1.5, 1.1.6, 1.1.7, 1.2.3, 1.5.0, 1.5.1, 1.5.2, 1.5.3, 1.5.4, 1.5.5, 1.5.6, 1.5.7, 1.5.8, 1.6.1, 1.6.2, 1.7.0, 1.8.0, 1.8.1, 1.8.2, 1.8.3, 1.8.4, 1.8.5, 1.8.6, 2.0.2, 2.0.3, 2.0.4, 2.0.5, 2.1.0, 2.1.1, 2.1.2, 2.1.3, 2.1.4, 2.1.5, 2.2.0, 2.2.1, 2.2.2, 2.2.3, 2.2.4, 2.2.5, 2.2.6, 2.3.0, 2.3.1, 2.3.2, 2.3.3, 2.3.4, 2.3.5, 2.4.0, 2.4.1, 2.4.2, 2.4.4, 2.4.5, 2.4.7, 2.4.8, 2.4.9, 2.4.10, 2.4.11, 2.5.0, 2.5.1, 2.5.2, 2.5.3, 2.5.4, 2.5.5, 2.5.6, 2.5.7, 2.5.8, 2.5.9, 2.5.10, 2.5.11, 2.5.12, 2.5.14, 2.6.0a1, 2.6.0b1, 2.6.0, 2.6.1, 2.6.2, 2.6.3, 2.6.4, 3.0.0, 3.0.1, 3.0.2, 3.0.3, 3.0.4, 3.0.5, 3.0.6, 3.0.7, 3.0.9)
ERROR: No matching distribution found for openpyxl==3.5.1

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
%cd '/content/drive/My Drive/Colab Notebooks'
!ls

/content/drive/My Drive/Colab Notebooks
 3_save_and_load.ipynb	 db  'Hoja de cálculo sin título.gsheet'

In [ ]:
%ls -la

total 61
-rw------- 1 root root 57012 Jan 28 04:25  3_save_and_load.ipynb
drwx------ 2 root root  4096 Jan 21 04:51  db/
-rw------- 1 root root   143 Jan 21 05:36 'Hoja de cálculo sin título.gsheet'

In [ ]:
'Hola {}'.format('bla bla bla bla')

'Hola bla bla bla bla'

In [ ]:
!mkdir /content/drive/My\ Drive/Colab\ Notebooks/db

mkdir: cannot create directory ‘/content/drive/My Drive/Colab Notebooks/db’: File exists

In [ ]:
dir_pandas = '/content/drive/My Drive/Colab Notebooks/db/{}'.format('test.xls')
dir_pandas

'/content/drive/My Drive/Colab Notebooks/db/test.xls'

In [ ]:
import pandas as pd
pd.__version__
import numpy as np

In [ ]:
dict_data = {
    'edad' :     [ 10, 9, 13, 14, 12, 11, 12],
    'cm' : [ 115, 110, 130, 155, 125, 120, 125],
    'pais' :    [ 'co', 'mx', 'co', 'mx', 'mx', 'ch', 'ch'],
    'genero' :  [ 'M', 'F', 'F', 'M', 'M', 'M', 'F'],
    'Q1' : [ 5, 10, 8, np.nan, 7, 8, 3],
    'Q2' : [ 7, 9, 9, 8, 8, 8, 9.]
}
dict_data

{'Q1': [5, 10, 8, nan, 7, 8, 3],
 'Q2': [7, 9, 9, 8, 8, 8, 9.0],
 'cm': [115, 110, 130, 155, 125, 120, 125],
 'edad': [10, 9, 13, 14, 12, 11, 12],
 'genero': ['M', 'F', 'F', 'M', 'M', 'M', 'F'],
 'pais': ['co', 'mx', 'co', 'mx', 'mx', 'ch', 'ch']}

In [ ]:
df = pd.DataFrame(dict_data)
df

   edad   cm pais genero    Q1   Q2
0    10  115   co      M   5.0  7.0
1     9  110   mx      F  10.0  9.0
2    13  130   co      F   8.0  9.0
3    14  155   mx      M   NaN  8.0
4    12  125   mx      M   7.0  8.0
5    11  120   ch      M   8.0  8.0
6    12  125   ch      F   3.0  9.0

In [ ]:
dir_pandas = '/content/drive/My Drive/Colab Notebooks/db/{}'.format('test.csv')
dir_pandas

'/content/drive/My Drive/Colab Notebooks/db/test.csv'

In [ ]:
df.to_csv(dir_pandas, index = False)

In [ ]:
!ls /content/drive/My\ Drive/Colab\ Notebooks/db

test.csv

In [ ]:
df_read = pd.read_csv('/content/drive/My Drive/Colab Notebooks/db/test.csv', sep = ',')
df_read

   edad   cm pais genero    Q1   Q2
0    10  115   co      M   5.0  7.0
1     9  110   mx      F  10.0  9.0
2    13  130   co      F   8.0  9.0
3    14  155   mx      M   NaN  8.0
4    12  125   mx      M   7.0  8.0
5    11  120   ch      M   8.0  8.0
6    12  125   ch      F   3.0  9.0

In [ ]:
#exportando e insertando un separador
#no lo puede leer google drive
df.to_csv(dir_pandas, sep = '|', index = False)

In [ ]:
df_read = pd.read_csv('/content/drive/My Drive/Colab Notebooks/db/test.csv', sep = '|')
df_read

   edad   cm pais genero    Q1   Q2
0    10  115   co      M   5.0  7.0
1     9  110   mx      F  10.0  9.0
2    13  130   co      F   8.0  9.0
3    14  155   mx      M   NaN  8.0
4    12  125   mx      M   7.0  8.0
5    11  120   ch      M   8.0  8.0
6    12  125   ch      F   3.0  9.0

In [ ]:
dir_pandas = '/content/drive/My Drive/Colab Notebooks/db/{}'
dir_pandas

'/content/drive/My Drive/Colab Notebooks/db/{}'

In [ ]:
df.to_excel(dir_pandas.format('test.xlsx'), index=False, sheet_name='Hoja_uno')

In [ ]:
dir_pandas.format('test.xlsx')

'/content/drive/My Drive/Colab Notebooks/db/test.xlsx'

In [ ]:
!ls

 3_save_and_load.ipynb	 db  'Hoja de cálculo sin título.gsheet'

In [ ]:
%pwd

'/content/drive/MyDrive/Colab Notebooks'

In [ ]:
pd.read_excel(dir_pandas.format('test.xlsx'))

   edad   cm pais genero    Q1  Q2
0    10  115   co      M   5.0   7
1     9  110   mx      F  10.0   9
2    13  130   co      F   8.0   9
3    14  155   mx      M   NaN   8
4    12  125   mx      M   7.0   8
5    11  120   ch      M   8.0   8
6    12  125   ch      F   3.0   9

In [ ]:
df.to_json(dir_pandas.format('test.json'))

In [ ]:
!ls /content/drive/My\ Drive/Colab\ Notebooks/db

 3_save_and_load.ipynb   db/  'Hoja de cálculo sin título.gsheet'

In [ ]:
pd.read_json(dir_pandas.format('test.json'))

   edad   cm pais genero    Q1  Q2
0    10  115   co      M   5.0   7
1     9  110   mx      F  10.0   9
2    13  130   co      F   8.0   9
3    14  155   mx      M   NaN   8
4    12  125   mx      M   7.0   8
5    11  120   ch      M   8.0   8
6    12  125   ch      F   3.0   9

In [ ]:
df.to_pickle(dir_pandas.format('test.pkl'))

In [ ]:
!ls /content/drive/My\ Drive/Colab\ Notebooks/db

 3_save_and_load.ipynb	 db  'Hoja de cálculo sin título.gsheet'

In [ ]:
pd.read_pickle(dir_pandas.format('test.pkl'))

   edad   cm pais genero    Q1   Q2
0    10  115   co      M   5.0  7.0
1     9  110   mx      F  10.0  9.0
2    13  130   co      F   8.0  9.0
3    14  155   mx      M   NaN  8.0
4    12  125   mx      M   7.0  8.0
5    11  120   ch      M   8.0  8.0
6    12  125   ch      F   3.0  9.0

In [ ]:
df.to_parquet(dir_pandas.format('test.parquet'))

In [ ]:
!ls /content/drive/My\ Drive/Colab\ Notebooks/db

test.csv  test.json  test.parquet  test.pkl  test.xlsx

In [ ]:
pd.read_parquet(dir_pandas.format('test.parquet'))

   edad   cm pais genero    Q1   Q2
0    10  115   co      M   5.0  7.0
1     9  110   mx      F  10.0  9.0
2    13  130   co      F   8.0  9.0
3    14  155   mx      M   NaN  8.0
4    12  125   mx      M   7.0  8.0
5    11  120   ch      M   8.0  8.0
6    12  125   ch      F   3.0  9.0

In [ ]:
df.to_hdf(dir_pandas.format('test.hdf'),key='data',format='table')

In [ ]:
pd.read_hdf(dir_pandas.format('test.hdf'))

   edad   cm pais genero    Q1   Q2
0    10  115   co      M   5.0  7.0
1     9  110   mx      F  10.0  9.0
2    13  130   co      F   8.0  9.0
3    14  155   mx      M   NaN  8.0
4    12  125   mx      M   7.0  8.0
5    11  120   ch      M   8.0  8.0
6    12  125   ch      F   3.0  9.0