In [1]:
#!pip install --upgrade pandas

In [2]:
import pandas as pd
import numpy as np
pd.__version__

'1.2.4'

In [ ]:
pd.options.display.float_format = '{:,.3f}'.format

In [3]:
import seaborn as sns

In [5]:
df = sns.load_dataset('diamonds')
df

       carat        cut color clarity  depth  table  price     x     y     z
0       0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1       0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2       0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3       0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4       0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
53935   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86    Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

[53940 rows x 10 columns]

In [7]:
df.groupby('cut').mean()

,carat,depth,table,price,x,y,z
cut,,,,,,,
Ideal,0.702837,61.709401,55.951668,3457.541970,5.507451,5.520080,3.401448
Premium,0.891955,61.264673,58.746095,4584.257704,5.973887,5.944879,3.647124
Very Good,0.806381,61.818275,57.956150,3981.759891,5.740696,5.770026,3.559801
Good,0.849185,62.365879,58.694639,3928.864452,5.838785,5.850744,3.639507
Fair,1.046137,64.041677,59.053789,4358.757764,6.246894,6.182652,3.982770

In [8]:
df.groupby('cut').median()

           carat  depth  table   price      x     y     z
cut
Ideal       0.54   61.8   56.0  1810.0  5.250  5.26  3.23
Premium     0.86   61.4   59.0  3185.0  6.110  6.06  3.72
Very Good   0.71   62.1   58.0  2648.0  5.740  5.77  3.56
Good        0.82   63.4   58.0  3050.5  5.980  5.99  3.70
Fair        1.00   65.0   58.0  3282.0  6.175  6.10  3.97

In [10]:
df.groupby('cut')['carat'].median()

cut
Ideal        0.54
Premium      0.86
Very Good    0.71
Good         0.82
Fair         1.00
Name: carat, dtype: float64

In [11]:
df.groupby('cut')['carat'].count()

cut
Ideal        21551
Premium      13791
Very Good    12082
Good          4906
Fair          1610
Name: carat, dtype: int64

In [12]:
df.groupby('cut')['carat'].min()

cut
Ideal        0.20
Premium      0.20
Very Good    0.20
Good         0.23
Fair         0.22
Name: carat, dtype: float64

In [13]:
df.groupby('cut')['carat'].max()

cut
Ideal        3.50
Premium      4.01
Very Good    4.00
Good         3.01
Fair         5.01
Name: carat, dtype: float64

In [15]:
for key_group, group in df.groupby('cut'):
    grouped_price = group['price'].mean()

    print('cut: {} price: {}'.format(key_group, grouped_price))

cut: Ideal price: 3457.541970210199
cut: Premium price: 4584.2577042999055
cut: Very Good price: 3981.7598907465654
cut: Good price: 3928.864451691806
cut: Fair price: 4358.757763975155

In [ ]:
for key_group, group in df.groupby('cut'):
    grouped_price = group['price'].mean()

    print('cut: {} price: {}'.format(key_group, grouped_price))

## multiples indices

In [17]:
df.groupby(['cut', 'color']).mean()

                    carat      depth      table        price         x  \
cut       color
Ideal     D      0.565766  61.678370  55.965632  2629.094566  5.186704
          E      0.578401  61.686677  55.967461  2597.550090  5.215762
          F      0.655829  61.675562  55.924203  3374.939362  5.408751
          G      0.700715  61.700164  55.902375  3720.706388  5.511214
          H      0.799525  61.733194  55.965843  3889.334831  5.731377
          I      0.913029  61.793598  56.021357  4451.970377  5.976197
          J      1.063594  61.821987  56.012612  4918.186384  6.320045
Premium   D      0.721547  61.169245  58.718964  3631.292576  5.599869
          E      0.717745  61.175909  58.779461  3538.914420  5.587116
          F      0.827036  61.259974  58.679279  4324.890176  5.876692
          G      0.841488  61.279480  58.702360  4500.742134  5.864254
          H      1.016449  61.322034  58.792034  5216.706780  6.244508
          I      1.144937  61.328641  58.771849  5946.180672  6.489531
          J      1.293094  61.390099  58.874752  6294.591584  6.809975
Very Good D      0.696424  61.750165  58.041309  3470.467284  5.501210
          E      0.676317  61.730250  58.038875  3214.652083  5.432467
          F      0.740961  61.721627  57.848429  3778.820240  5.610504
          G      0.766799  61.841279  57.784428  3872.753806  5.660204
          H      0.915948  61.968366  57.903015  4535.390351  5.982286
          I      1.046952  61.934551  58.105150  5255.879568  6.272259
          J      1.133215  61.902065  58.277729  5103.513274  6.460782
Good      D      0.744517  62.365710  58.541541  3405.382175  5.620076
          E      0.745134  62.203751  58.779957  3423.644159  5.617889
          F      0.775930  62.202310  58.910891  3495.750275  5.693443
          G      0.850896  62.526636  58.471986  4123.482204  5.850264
          H      0.914729  62.499573  58.611111  4276.254986  5.968789
          I      1.057222  62.475096  58.773946  5078.532567  6.253544
          J      1.099544  62.395765  58.813029  4574.172638  6.377003
Fair      D      0.920123  64.048466  58.969325  4291.061350  6.018344
          E      0.856607  63.319643  59.364732  3682.312500  5.909063
          F      0.904712  63.508013  59.453205  3827.003205  5.990513
          G      1.023822  64.339809  58.773248  4239.254777  6.173822
          H      1.219175  64.585149  58.696370  5135.683168  6.579373
          I      1.198057  64.220571  59.237143  4685.445714  6.564457
          J      1.341176  64.357143  58.917647  4975.655462  6.747311

                        y         z
cut       color
Ideal     D      5.196224  3.201800
          E      5.232214  3.220346
          F      5.422250  3.338732
          G      5.524007  3.403120
          H      5.740446  3.539917
          I      5.989479  3.695270
          J      6.332098  3.912757
Premium   D      5.571472  3.415926
          E      5.558353  3.408875
          F      5.844655  3.588391
          G      5.833345  3.579641
          H      6.228110  3.811699
          I      6.453270  3.963894
          J      6.770644  4.168020
Very Good D      5.531613  3.405089
          E      5.463213  3.373996
          F      5.642717  3.472902
          G      5.688752  3.509883
          H      6.006272  3.713849
          I      6.299028  3.890972
          J      6.495074  4.006873
Good      D      5.633897  3.504864
          E      5.632454  3.496066
          F      5.709659  3.544609
          G      5.862824  3.647922
          H      5.974245  3.726937
          I      6.260536  3.901513
          J      6.386026  3.977459
Fair      D      5.963190  3.839877
          E      5.858214  3.722143
          F      5.931122  3.787821
          G      6.114076  3.963153
          H      6.497393  4.219373
          I      6.493486  4.193486
          J      6.675882  4.319664

In [20]:
# to_frame convierte los datos en presentacion dataframe
df.groupby(['cut', 'color'])['price'].mean().to_frame()

                       price
cut       color
Ideal     D      2629.094566
          E      2597.550090
          F      3374.939362
          G      3720.706388
          H      3889.334831
          I      4451.970377
          J      4918.186384
Premium   D      3631.292576
          E      3538.914420
          F      4324.890176
          G      4500.742134
          H      5216.706780
          I      5946.180672
          J      6294.591584
Very Good D      3470.467284
          E      3214.652083
          F      3778.820240
          G      3872.753806
          H      4535.390351
          I      5255.879568
          J      5103.513274
Good      D      3405.382175
          E      3423.644159
          F      3495.750275
          G      4123.482204
          H      4276.254986
          I      5078.532567
          J      4574.172638
Fair      D      4291.061350
          E      3682.312500
          F      3827.003205
          G      4239.254777
          H      5135.683168
          I      4685.445714
          J      4975.655462

In [21]:
# aggregate aplica varias funciones a los datos y los establece como columnas
df.groupby(['cut', 'color'])['price'].aggregate(['min', 'mean', 'max'])

                 min         mean    max
cut       color
Ideal     D      367  2629.094566  18693
          E      326  2597.550090  18729
          F      408  3374.939362  18780
          G      361  3720.706388  18806
          H      357  3889.334831  18760
          I      348  4451.970377  18779
          J      340  4918.186384  18508
Premium   D      367  3631.292576  18575
          E      326  3538.914420  18477
          F      342  4324.890176  18791
          G      382  4500.742134  18741
          H      368  5216.706780  18795
          I      334  5946.180672  18823
          J      363  6294.591584  18710
Very Good D      357  3470.467284  18542
          E      352  3214.652083  18731
          F      357  3778.820240  18777
          G      354  3872.753806  18818
          H      337  4535.390351  18803
          I      336  5255.879568  18500
          J      336  5103.513274  18430
Good      D      361  3405.382175  18468
          E      327  3423.644159  18236
          F      357  3495.750275  18686
          G      394  4123.482204  18788
          H      368  4276.254986  18640
          I      351  5078.532567  18707
          J      335  4574.172638  18325
Fair      D      536  4291.061350  16386
          E      337  3682.312500  15584
          F      496  3827.003205  17995
          G      369  4239.254777  18574
          H      659  5135.683168  18565
          I      735  4685.445714  18242
          J      416  4975.655462  18531

In [22]:
def mean_kilo(x):
    return np.mean(x)/1000

In [24]:
df.groupby(['cut', 'color'])['price'].aggregate(['min', 'mean', 'max', mean_kilo])

                 min         mean    max  mean_kilo
cut       color
Ideal     D      367  2629.094566  18693   2.629095
          E      326  2597.550090  18729   2.597550
          F      408  3374.939362  18780   3.374939
          G      361  3720.706388  18806   3.720706
          H      357  3889.334831  18760   3.889335
          I      348  4451.970377  18779   4.451970
          J      340  4918.186384  18508   4.918186
Premium   D      367  3631.292576  18575   3.631293
          E      326  3538.914420  18477   3.538914
          F      342  4324.890176  18791   4.324890
          G      382  4500.742134  18741   4.500742
          H      368  5216.706780  18795   5.216707
          I      334  5946.180672  18823   5.946181
          J      363  6294.591584  18710   6.294592
Very Good D      357  3470.467284  18542   3.470467
          E      352  3214.652083  18731   3.214652
          F      357  3778.820240  18777   3.778820
          G      354  3872.753806  18818   3.872754
          H      337  4535.390351  18803   4.535390
          I      336  5255.879568  18500   5.255880
          J      336  5103.513274  18430   5.103513
Good      D      361  3405.382175  18468   3.405382
          E      327  3423.644159  18236   3.423644
          F      357  3495.750275  18686   3.495750
          G      394  4123.482204  18788   4.123482
          H      368  4276.254986  18640   4.276255
          I      351  5078.532567  18707   5.078533
          J      335  4574.172638  18325   4.574173
Fair      D      536  4291.061350  16386   4.291061
          E      337  3682.312500  15584   3.682313
          F      496  3827.003205  17995   3.827003
          G      369  4239.254777  18574   4.239255
          H      659  5135.683168  18565   5.135683
          I      735  4685.445714  18242   4.685446
          J      416  4975.655462  18531   4.975655

In [27]:
dict_agg = {
    'carat': [min, max],
    'price':[np.mean, mean_kilo]
    }
dict_agg

{'carat': [<function min>, <function max>],
 'price': [<function numpy.mean(a, axis=None, dtype=None, out=None, keepdims=<no value>, *, where=<no value>)>,
  <function __main__.mean_kilo(x)>]}

In [29]:
df.groupby(['cut', 'color']).aggregate(dict_agg)

                carat              price
                  min   max         mean mean_kilo
cut       color
Ideal     D      0.20  2.75  2629.094566  2.629095
          E      0.20  2.28  2597.550090  2.597550
          F      0.23  2.45  3374.939362  3.374939
          G      0.23  2.54  3720.706388  3.720706
          H      0.23  3.50  3889.334831  3.889335
          I      0.23  3.22  4451.970377  4.451970
          J      0.23  3.01  4918.186384  4.918186
Premium   D      0.20  2.57  3631.292576  3.631293
          E      0.20  3.05  3538.914420  3.538914
          F      0.20  3.01  4324.890176  4.324890
          G      0.23  3.01  4500.742134  4.500742
          H      0.23  3.24  5216.706780  5.216707
          I      0.23  4.01  5946.180672  5.946181
          J      0.30  4.01  6294.591584  6.294592
Very Good D      0.23  2.58  3470.467284  3.470467
          E      0.20  2.51  3214.652083  3.214652
          F      0.23  2.48  3778.820240  3.778820
          G      0.23  2.52  3872.753806  3.872754
          H      0.23  3.00  4535.390351  4.535390
          I      0.24  4.00  5255.879568  5.255880
          J      0.24  2.74  5103.513274  5.103513
Good      D      0.23  2.04  3405.382175  3.405382
          E      0.23  3.00  3423.644159  3.423644
          F      0.23  2.67  3495.750275  3.495750
          G      0.23  2.80  4123.482204  4.123482
          H      0.25  3.01  4276.254986  4.276255
          I      0.30  3.01  5078.532567  5.078533
          J      0.28  3.00  4574.172638  4.574173
Fair      D      0.25  3.40  4291.061350  4.291061
          E      0.22  2.04  3682.312500  3.682313
          F      0.25  2.58  3827.003205  3.827003
          G      0.23  2.60  4239.254777  4.239255
          H      0.33  4.13  5135.683168  5.135683
          I      0.41  3.02  4685.445714  4.685446
          J      0.30  5.01  4975.655462  4.975655

## Crear filtros

In [30]:
def f_filter(x):
    return mean_kilo(x['price']) > 4

In [31]:
df.groupby('cut').filter(f_filter)

       carat      cut color clarity  depth  table  price     x     y     z
1       0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
3       0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
8       0.22     Fair     E     VS2   65.1   61.0    337  3.87  3.78  2.49
12      0.22  Premium     F     SI1   60.4   61.0    342  3.88  3.84  2.33
14      0.20  Premium     E     SI2   60.2   62.0    345  3.79  3.75  2.27
...      ...      ...   ...     ...    ...    ...    ...   ...   ...   ...
53928   0.79  Premium     E     SI2   61.4   58.0   2756  6.03  5.96  3.68
53930   0.71  Premium     E     SI1   60.5   55.0   2756  5.79  5.74  3.49
53931   0.71  Premium     F     SI1   59.8   62.0   2756  5.74  5.73  3.43
53934   0.72  Premium     D     SI1   62.7   59.0   2757  5.69  5.73  3.58
53938   0.86  Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74

[15401 rows x 10 columns]

In [32]:
df.groupby('cut').filter(f_filter)['cut'].unique()

['Premium', 'Fair']
Categories (2, object): ['Premium', 'Fair']