In [2]:
!pip install psycopg2

Requirement already satisfied: psycopg2 in /usr/local/lib/python3.7/dist-packages (2.7.6.1)

In [3]:

import pandas as pd
import psycopg2

/usr/local/lib/python3.7/dist-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

In [4]:
!sudo apt-get -y -qq update
!sudo apt-get -y -qq install postgresql
!sudo service postgresql start
!sudo -u postgres psql -U postgres -c "ALTER USER postgres PASSWORD 'postgres'"

 * Starting PostgreSQL 10 database server
   ...done.
ALTER ROLE

In [5]:
conn_sql = psycopg2.connect(user = "postgres",
                            password = "postgres",
                            host = "127.0.0.1",
                            port = "5432",
                            dbname = "postgres")

In [8]:
query_sql = '''
select *
from table_name
limit 10
'''

In [9]:
df = pd.read_sql(query_sql, sql_conn)
df.head(5)

NameError: ignored

# SQL Server

In [ ]:
import pandas as pd
import pyodbc

In [ ]:
!pip install pyodbc

In [ ]:
driver = '{SQL Server}'
server_name = 'server_name'
db_name = 'database_name'
user = 'user'
password = 'password'
sql_conn = pyodbc.connect('''
DRIVER={};SERVER={};DATABASE={};UID={};PWD={};
Trusted_Connection=yes
'''.format(driver, server_name, db_name, user, password))

In [ ]:
#con DSN

dsn = 'odbc_datasource_name'
sql_conn = pyodbc.connect('''
DSN={};UID={};PWD={};Trusted_Connection=yes;
'''.format(dsn, user, password))
Seguido simplemente definimos nuestra query en SQL:	
query_sql = 'select * from table_name limit 10'

In [ ]:
df = pd.read_sql(query_sql, sql_conn)
df.head(5)

# MySQL / Oracle / Otras:

La libreria sqlalchemy tambi√©n soporta PostgreSQL y otras fuentes de datos.

In [ ]:
!pip install sqlalchemy

In [10]:
import pandas as pd
import sqlalchemy as sql
Escogemos nuestra base de datos, Oracle, MySql o la de tu preferencia:
database_type = 'mysql'
database_type = 'oracle'

SyntaxError: ignored

In [ ]:
user = 'user_name'
password = 'password'
host = 'xxx.xxx.xxx.xxx:port'
database = 'database_name'

conn_string = '{}://{}:{}@{}/{}'.format(
database_type, user, password, host, database)

sql_conn = sql.create_engine(conn_string)

In [ ]:
query_sql = '''
select *
from table_name
limit 10
'''

In [11]:
df = pd.read_sql(query_sql, sql_conn)
df.head(5)

NameError: ignored